.App {
  font-family: "Times New Roman", Times, serif;
}

.mailBoxHeader {
  text-decoration: none;
  color: black;
  text-align: center;
}

.mainApp {
  display: flex;
}

.subject-and-buttons-div {
  display: flex;
  justify-content: space-between;
}

.buttons-div {
  display: flex;
  gap: 4px;
}

.page-div {
  flex-grow: 1;
}

.details-and-a-button {
  display: flex;
  justify-content: space-between;
}

.content-p {
  margin-block-start: 0rem;
}

.sidebar {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 10px;
}

.sidebar li {
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.mail {
  border: 1px solid black;
  margin: 5px;
  padding: 12px;
  border-radius: 5px;
}

button {
  padding: 5px;
}

.star-delete-read-buttons {
  border-radius: 5px;
  height: fit-content;
}

.no-mails-heading {
  text-align: center;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 5px;
}

.navlinks {
  font-weight: 200;
  color: black;
  text-decoration: none;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.active {
  font-weight: 600;
  color: red;
  border-right: 5px solid black;
}
